* {
	margin: 0; border: 0; padding: 0;
}

body {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	background: #eee;
	color: #333;
}

h1 {
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
h1,
p,
ul {
	margin-bottom: 15px;
	line-height: 1.5em;
}

ul,
ol {
	padding-left: 20px;
	line-height: 1.5em;
}

.text-done {
	color: #04800e;
	text-decoration: line-through;
}

main {
	position: relative;
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
}
#credits {
	font-size: 12px;
	color: #666;
	position: absolute;
	bottom: -30px;
	right: 20px;
}